@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 20 14.3% 4.1%;
--muted: 60 4.8% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 0 0% 100%;
--popover-foreground: 20 14.3% 4.1%;
--card: 0 0% 100%;
--card-foreground: 20 14.3% 4.1%;
--border: 20 5.9% 90%;
--input: 20 5.9% 90%;
--primary: 207 90% 54%;
--primary-foreground: 211 100% 99%;
--secondary: 60 4.8% 95.9%;
--secondary-foreground: 24 9.8% 10%;
--accent: 60 4.8% 95.9%;
--accent-foreground: 24 9.8% 10%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 20 14.3% 4.1%;
--radius: 0.5rem;
  }
  .dark {
      --background: 240 10% 3.9%;
--foreground: 0 0% 98%;
--muted: 240 3.7% 15.9%;
--muted-foreground: 240 5% 64.9%;
--popover: 240 10% 3.9%;
--popover-foreground: 0 0% 98%;
--card: 240 10% 3.9%;
--card-foreground: 0 0% 98%;
--border: 240 3.7% 15.9%;
--input: 240 3.7% 15.9%;
--primary: 207 90% 54%;
--primary-foreground: 211 100% 99%;
--secondary: 240 3.7% 15.9%;
--secondary-foreground: 0 0% 98%;
--accent: 240 3.7% 15.9%;
--accent-foreground: 0 0% 98%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--ring: 240 4.9% 83.9%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@keyframes rotateEarth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.earth-static {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='500' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230f5e9c'/%3E%3Cstop offset='1' stop-color='%23073763'/%3E%3C/radialGradient%3E%3C/defs%3E%3Ccircle cx='500' cy='500' r='500' fill='url(%23a)'/%3E%3Cpath fill='%23538135' d='M350,180c45-25,93-18,133-5s85,46,120,74c25,20,40,47,55,72,15,26,30,53,35,83s0,64-17,89-45,38-76,39c-30,0-61-12-81-35s-27-54-47-73-47-34-69-23-29,44-12,63c17,20,47,24,58,47s-5,52-31,57c-27,4-56-13-81-31s-47-38-42-66c5-29,40-50,36-79-3-22-31-33-56-34s-48,11-73,9c-24-1-50-15-60-38-11-23-4-52,11-71s39-32,62-42c24-9,50-13,73-6s42,29,68,30c25,1,49-18,74-27Z'/%3E%3Cpath fill='%23538135' d='M764,245c24,14,36,40,42,66s6,54,14,79c12,41,43,75,79,95s78,23,114,41c40,20,73,54,87,96s9,88-12,126c-26,46-76,75-127,88s-105,11-157-4c-36-11-70-28-104-43-36-16-73-29-110-42-19-7-39-13-54-28s-23-42-13-61c11-20,37-28,60-26s46,12,69,18c31,9,64,14,94,0s54-41,77-67c26-30,50-65,57-106s-9-85-44-105-76-12-109,8-61,52-91,78c-29,26-59,50-93,68s-72,29-110,26c-43-3-84-23-116-53-38-36-62-84-80-134-8-22-14-47-6-69s31-39,56-37c24,1,43,21,57,41s26,43,46,57,43,19,62,33c40,28,57,82,101,102,22,10,48,11,71,3s43-23,62-38c22-17,45-31,71-40s56-12,82-2c30,12,50,42,42,73s-44,49-78,49c-33-1-68-16-100-3-33,13-44,59-27,89s58,44,93,48c44,5,88-6,130-21s72-31,73-79c0-22-8-44-22-60s-33-27-51-38c-21-13-41-26-58-44-25-27-42-63-35-98s42-63,77-60c36,4,65,36,77,70s8,71-2,106c-11,40-32,77-35,119s15,90,54,105c43,16,91-4,127-32s66-63,95-96,50-64,47-105-32-80-74-91-84,9-116,40-55,72-78,111c-28,47-53,96-89,138-36,41-83,73-136,80s-110-13-147-52-55-99-38-151c9-26,29-49,36-76s-2-60-25-73c-22-12-50-6-72,7s-40,33-56,53c-19,23-37,49-41,79-5,36,11,71,30,101s43,57,59,89c17,35,28,74,23,113s-26,76-61,94c-32,17-71,14-106,11-52-6-104-16-154-33-50-18-97-44-140-75s-82-69-114-110c-33-42-60-89-76-140-12-38-16-80-3-117,9-25,28-47,51-60s50-17,76-13,50,15,73,28c27,15,54,29,81,44,25,14,50,29,77,37s57,8,83-4c58-26,77-106,50-163s-97-85-159-70c-53,12-98,52-150,69-49,17-106,15-149-14-52-35-75-100-70-161,5-66,41-125,84-173s96-84,149-119c49-31,100-59,155-71,50-11,103-6,152,9,57,18,109,51,145,100,41,54,57,124,41,190-17,68-68,128-136,152-61,22-132,15-191-15s-106-82-129-144c-12-31-16-66-7-98s31-60,61-74c33-15,72-10,103,9s54,52,69,87c16,37,25,77,32,117,7,41,14,85,39,119s68,53,111,43c40-9,72-43,94-79s35-77,59-112c40-55,100-93,165-108,70-16,143-6,209,26,74,36,133,102,166,178,31,74,40,158,28,238-15,101-61,196-127,273-62,73-140,130-226,168-90,39-186,55-282,46-83-8-165-34-237-77-65-38-122-91-161-157-40-68-62-146-61-225,0-88,27-174,70-249,55-96,136-176,234-234,103-61,217-100,344-82s245,95,329,192c39,44,70,94,91,149s32,113,32,171c0,64-10,128-31,189-23,66-58,127-103,180-50,59-112,107-181,141-80,40-167,61-254,62-109,1-218-29-310-88-48-31-91-69-126-114-40-51-69-110-87-172-20-68-27-138-23-209,5-76,25-150,58-218,31-62,72-117,123-163,56-50,123-87,195-107,76-21,156-20,232,2,69,19,133,59,177,115,50,65,76,147,71,230-5,92-46,179-110,240-57,55-132,90-208,99-84,10-170-10-240-58-63-43-111-106-135-180s-26-152-3-226c22-72,70-136,135-177,60-37,130-53,200-49,76,5,151,33,210,83,67,57,114,139,133,225,20,89,9,185-30,267-35,74-91,137-161,178-78,45-169,63-257,52-94-12-183-55-251-121-64-61-109-142-129-230-23-100-9-205,38-296,42-81,108-149,187-196,87-51,186-78,285-77,109,1,217,32,308,87,85,51,156,124,204,212,50,94,74,202,65,307-9,117-57,229-130,318-67,83-156,147-255,181-112,38-236,37-348-3-101-36-193-102-260-186-72-92-117-204-130-320-15-131,14-267,83-381,62-103,151-189,257-246,120-63,260-90,393-75,144,17,283,80,389,179,97,91,168,210,198,341,33,144,16,295-48,428-59,125-153,232-269,304-130,81-284,121-435,114-168-8-332-73-462-178-59-47-112-103-156-165-50-70-88-149-114-232-30-94-42-193-36-292,7-110,34-219,82-320,44-92,103-176,175-248,78-77,171-138,272-178,114-45,238-63,361-53,138,11,274,58,389,135,105,70,194,163,257,272,72,125,114,268,119,412,5,163-35,327-115,468-70,126-171,234-291,310-136,86-296,131-456,126-178-5-353-63-499-168-65-47-125-102-176-165-57-71-102-151-135-236-37-96-60-197-67-300-8-116,4-232,36-344,29-104,74-203,133-294,67-104,152-196,252-269,47-34,96-65,148-92,59-30,121-53,185-71,72-20,145-31,220-33,82-3,164,6,245,27,88,22,173,57,249,104,83,52,155,120,210,198,59,84,99,181,119,283,22,110,20,224-4,334-26,118-79,227-152,321-80,103-185,185-304,236-133,57-281,79-425,64-160-16-313-81-439-183-58-47-110-101-155-161-50-67-92-142-124-221s-56-163-71-250c-15-94-20-190-12-285,9-105,33-209,72-307,37-94,86-182,148-261,68-87,149-164,242-226,102-69,218-117,339-144,133-30,272-31,407-5,152,30,296,100,414,203,106,93,192,208,250,338,63,143,93,298,89,454-4,175-55,347-147,497-83,137-199,253-335,335-154,92-331,139-508,135-98-2-195-19-288-51-101-35-196-87-279-156-75-62-139-136-190-219-55-90-96-189-120-294-28-117-36-238-25-358,10-104,34-207,73-304,44-110,107-213,184-303,43-50,91-96,143-136,59-46,125-85,195-115,39-17,79-30,120-41,46-12,94-20,142-24,53-5,106-5,159-1,59,5,118,15,175,30,150,39,291,116,403,222,51,49,97,104,135,164,43,66,77,138,102,215,28,86,45,176,50,267,6,103-5,207-32,307-30,109-81,212-150,298l-4,5Z'/%3E%3Cpath fill='%23457cbf' d='M160,260c32-23,74-35,114-28s77,34,86,74-18,81-52,103c-30,19-69,25-102,16-32-9-61-34-70-66s-1-69,24-93Z'/%3E%3Cpath fill='%23457cbf' d='M250,500c34-2,69,18,80,52s-3,71-33,89c-31,19-73,17-102-4s-40-61-26-94,45-51,81-47Z'/%3E%3Cpath fill='%23457cbf' d='M279,760c28,29,33,74,14,107s-62,51-102,44c-41-7-76-38-83-78s11-85,47-104c39-22,88-10,117,22Z'/%3E%3Cpath fill='%23457cbf' d='M530,200c-40-19-89-9-116,25-27,33-29,83-5,118s69,52,109,41c40-12,70-50,71-91,1-42-23-81-61-96Z'/%3E%3Cpath fill='%23457cbf' d='M520,370c14,34,2,73-27,93s-68,15-93-9c-26-24-31-66-12-96s60-44,94-32c30,11,50,40,39,75Z'/%3E%3Cpath fill='%23457cbf' d='M540,530c32,0,59,24,65,55s-12,63-42,74c-29,10-63-1-80-27s-13-65,11-86c16-16,38-20,58-18Z'/%3E%3Cpath fill='%23457cbf' d='M580,780c39,23,52,75,29,114s-77,48-116,25c-38-22-51-73-31-112,21-40,73-55,113-35Z'/%3E%3Cpath fill='%23457cbf' d='M730,170c25,21,28,58,9,84s-57,38-87,25c-30-14-46-50-39-82s36-57,69-56c18,1,36,8,48,22Z'/%3E%3Cpath fill='%23457cbf' d='M810,370c40-8,79,18,89,57s-10,82-47,98c-38,16-83,3-106-29s-18-81,15-109c8-8,17-13,27-17Z'/%3E%3Cpath fill='%23457cbf' d='M820,530c44,13,69,59,56,103s-61,70-106,57-70-59-57-103c13-45,60-71,105-58Z'/%3E%3Cpath fill='%23457cbf' d='M840,710c27-8,57,8,65,35s-9,56-36,64c-26,8-55-8-63-34s8-55,34-63Z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}